extends layout

block content
  h1= title

  form(action='/catalog/books/search', method='get', autocomplete='off')
    input(type='text', name='q', placeholder='Search books...', id='search')

  if book_list.length
    ul(id='book-list')
      each book in book_list
        li
          a(href=book.url) #{book.title}
          |  (#{book.author.name})

  else
    p There are no books.

  script(src='/javascripts/search.js')